body {
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    background-color: #F5F5F5;  
    font-family:  Arial, Tahoma, Helvetica, Verdana, sans-serif;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

#main {
    display: flex; 
    width: 28em; 
    min-height: 37.2em;
    background-color: #C1D1D1;
    box-shadow: 0 0 3px 1px #ababab;
    border-radius: 25px;
    margin: 3.125em 0;
    flex-direction: column;
    align-items: center;
}

#display {
    display: flex; 
    width: 24.9em; 
    min-height: 6em;
    border-radius: 5px;
    background-color: #5d5d5dcf;
    box-shadow: inset 0 0 2px #2d2c2c;
    margin-top: 1.75em;

    flex-direction: column;
    justify-content: center;
    align-items: end;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

#numbers {
    margin: 0;
    padding-right: 0.25em;
    font-size: 3.5em;
    color: #edededd9;
    
}

#top {
    width: 26.3em; 
    min-height: 2em; 
    display: flex; 
    margin-top: 1em; 
    justify-content: space-around;
}

#top button {
    min-width: 6em;
    border: none;
    border-radius: 10px;
    background-color: #FDB137;
    color: #ffffff;
    box-shadow: 0 0 2px 1px #a8a7a7;
    font-size: 1em;
    display: flex; 
    justify-content: center; 
    align-items: center;
    
}

#top button:hover {
    background-color: #fbc266;
}

#top button:active {
    transform: scale(98%);
}
.container {
    display: grid; 
    grid-gap: 0.3em;
    grid-template-columns: repeat(4, 6em); 
    grid-template-rows: repeat(4, 6em);
    margin: 1em 0 1.75em 0; 
}

.container button {
    height: 0;
    padding: 0 0 100% 0;
    border: none;
    border-radius: 10px;
    background-color: #F9F8F3;
    box-shadow: 0 0 5px 1px #ababab;
    display: flex; /* to center button texts */
}

.container p {
    color: #777777;
    font-size: 3.2em;
    padding: 25% 0;
    margin: auto; /* to center button texts */
}

.container button:hover {
    background-color: #ffffff;
}

.container button:active {
    transform: scale(98%);
}

.container .operator {
    background-color: #FBF0BB;
}

.container .operator:hover {
    background-color: #fcf6d6;
}

#equals {
    background-color:#52696A;
}

#equals p {
    color: #ffffff;
}

#equals:hover {
    background-color: #5f797a;
}

#footer {
    font-size: 0.75em;
    color: #a8a7a7;
    margin-top: 0;
}
